.form{
       position: relative;
       
       width: 350px;    
       margin: auto;  
       padding: 45px;
       background: lightsteelblue;
       border:2px solid black;
    
       
}
 
.form input{
        outline: 0;
        background: white;
        width:100%;
        height: 40px;
       
        
        margin : 0 0 15px;
     
        font-size: 15px;
        border:1px solid black;
}
 .form button{ 
           
           background: #4CAf50;
           height:35px;
           padding: 20px;
           border:1px solid black;
           text-align: center;
           text-transform:uppercase;
           color: #FFFFFF;
}
h3 {
    font-size: 25px;
}
          

        
       
